@model RegisterViewModel

<div class="container mt-4">
    <h2 class="text-center mb-4">Register</h2>

    <form asp-controller="Register" asp-action="Register" method="post">
        @* Anti-forgery token *@
        @Html.AntiForgeryToken()

        @if (TempData["Errors"] != null)
        {
            <div class="alert alert-danger">
                @foreach (var error in (List<string>)TempData["Errors"])
                {
                    <p>@error</p>
                }
            </div>
        }

        <div class="form-group">
            <label asp-for="UserName" class="form-label">Username</label>
            <input asp-for="UserName" class="form-control">
            <span asp-validation-for="UserName" class="text-danger"></span>

            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>

            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>

            <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword</label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>


        </div>

        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
</div>
