<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CeylonWellness.Web</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
          rel="stylesheet" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CeylonWellness.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <div class="container-fluid">
                <button data-mdb-collapse-init
                        class="navbar-toggler"
                        type="button"
                        data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand mt-2 mt-lg-0" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/Assets/Logo.svg"
                             height="40"
                             alt="Ceylon Wellness Logo"
                             loading="lazy" />
                    </a>
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        </ul>
                    }

                    

                
                    
                    
                    <div class="d-flex align-items-center">
                    
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <a data-mdb-dropdown-init
                                   class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                   href="#"
                                   id="navbarDropdownMenuAvatar"
                                   role="button"
                                   aria-expanded="false">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                                         class="rounded-circle"
                                         height="25"
                                         alt="Black and White Portrait of a Man"
                                         loading="lazy" />
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="navbarDropdownMenuAvatar">
                                    <li>
                                        <a class="dropdown-item" href="#">My profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Settings</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                          
                            @* <li class="nav-item">
                                <span class="nav-link">Welcome, @User.Identity.Name</span>
                            </li>
                            
                            <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2" asp-controller="Account" asp-action="Logout">
                                Login
                            </button> *@
                        }
                        else
                        {
                            <a data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2" asp-controller="Account" asp-action="Login">
                                Login
                            </a>

                            <a data-mdb-ripple-init type="button" class="btn btn-primary me-3" asp-controller="Account" asp-action="Register">
                            Sign up for free
                            </a>
                        }
                    
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center">
            &copy; 2024 - CeylonWellness - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
