<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CeylonWellness.Web</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
          rel="stylesheet" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CeylonWellness.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <div class="col">
                    <a class="navbar-brand" href="#">
                        <img src="/Assets/Logo.svg"
                             height="40"
                             alt="Ceylon Wellness Logo"
                             loading="lazy" 
                             style="display:none;"
                             />
                    </a>
                </div>

                <div class="col d-flex justify-content-center">
                    <a class="navbar-brand m-0" href="#">
                        <img src="/Assets/Logo.svg"
                             height="55"
                             alt="Ceylon Wellness Logo"
                             loading="lazy"
                             class="m-0" />
                    </a>
                </div>

                <div class="col d-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a data-mdb-dropdown-init
                               class="nav-link dropdown-toggle d-flex align-items-center"
                               href="#"
                               id="navbarDropdownMenuLink"
                               role="button"
                               aria-expanded="false">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                                     class="rounded-circle"
                                     height="28"
                                     alt="Portrait of a Woman"
                                     loading="lazy" />
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Register">Sign Up</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
