@model RegisterViewModel
<link rel="stylesheet" href="/css/custom.css" />

<style>
    .hr-with-or {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; /* Adjust spacing between HR lines and "Or" */
    }

    .bgcol{
        background: whitesmoke;
    }

    .hr-with-or hr {
        flex: 1; /* Allow HR lines to grow and fill the space */
    }
</style>
<body>
    <div class="container mt-5">
        <h2 class="text-center text-primary mb-5">We need some more information from you to create your account</h2>

        <form asp-action="Register" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="FirstName" class="text-primary mt-3">First Name</label>
                        <input asp-for="FirstName" class="form-control" type="text"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="LastName" class="text-primary mt-3">Last Name</label>
                        <input asp-for="LastName" class="form-control" type="text"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="UserName" class="text-primary mt-3">UserName</label>
                        <input asp-for="UserName" class="form-control" type="text"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="Email" class="text-primary mt-3">Email</label>
                        <input asp-for="Email" class="form-control" type="email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="Password" class="text-primary mt-3">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="ConfirmPassword" class="text-primary mt-3">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Create account</button>
                </div>
            </div>

        </form>

        <div class="text-center hr-with-or mt-5 mb-5">
            <hr class="hr" />
            <span class="bgcol px-2">Or</span>
            <hr class="hr" />
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-outline-primary btn-rounded btn-lg">
                    <i class="fab fa-google me-2"></i> Sign Up with Google
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-3">
                <button class="btn btn-outline-primary btn-rounded btn-lg">
                    <i class="fab fa-facebook-f me-2"></i> Sign Up with Facebook
                </button>
            </div>
        </div>

        <p class="text-center mt-3">Already have an account? <a href="@Url.Action("Login")">Sign In</a></p>

        <p class="text-center text-muted mt-5" style="font-weight:100; font-size:12px;">By continuing, you confirm and guarantee that you have read, understood, and agreed to our <u>Terms of Use</u> and <u>Privacy Notice</u></p>
    </div>
</body>