

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>#1 nutrition tracking app in the island</p>
            <h1><strong>Reach your goals <br /> </strong> with Ceylon Wellness</h1>

            <p>Build healthy habits with the all-in-one food, exercise, and calorie tracker.</p>

            <a>Start Today</a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>