@model CeylonWellness.Web.Models.MultiStepFormViewModel

<label for="weightGoal" class="col-form-label">What do you want to achieve?</label>
<select id="weightGoal" class="form-select">
    <option value="gain" class="bg-primary text-white">Gain weight</option>
    <option value="lose" class="bg-primary text-white">Lose weight</option>
    <option value="maintain" class="bg-primary text-white">Maintain weight</option>
</select>
