@model CeylonWellness.Web.Models.MultiStepFormViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Step Form</title>

    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>
    <div class="container-sm container-width">
        <div class="d-flex flex-column align-items-center">
            <h3>What is your Age</h3>
            <input asp-for="Age" type="number" id="Age" class="form-control mt-4 mxwidth" required/>
            <button class=" cl btn btn-primary mt-5" type="button" onclick="loadNextStep('Steps/_SelectGender')">Continue</button>
        </div>
    </div>
</body>
</html>
