@model CeylonWellness.Web.Models.MultiStepFormViewModel

<h3>Select Age</h3>

<input asp-for="Age" type="number" id="Age"/>

<button type="button" onclick="loadNextStep('Steps/_SelectGender')">Next</button>