@model CeylonWellness.Web.Models.MultiStepFormViewModel

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="card p-4 shadow-lg rounded-5" style="width: 800px;">
        <div class="card-body">
            
            <h3 class="card-title">Select Gender</h3>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block mb-5" onclick="setGender('male')">Male</button>
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="setGender('female')">Female</button>
            </div>
            <input type="hidden" id="gender" name="gender" />
            <div class="row mb-5">
                <div class="col-md-12">
                    <!-- Empty column to create space -->
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6">
                    <button type="button" onclick="loadNextStep('Steps/_SelectAge')" class="btn btn-secondary btn-lg btn-block">Previous</button>
                </div>
                <div class="col-md-6">
                    <button type="button" onclick="loadNextStep('Steps/_SelectGender')" class="btn btn-primary btn-lg btn-block">Continue</button>
                </div>
                
                
            </div>
        </div>
    </div>
</div>





