@model CeylonWellness.Web.Models.MultiStepFormViewModel

<div class="container container-width">
    <div class="d-flex flex-column align-items-center">
        <h2 class="text-primary mt-3">Do you use any whey protein powder?</h2>
        <input type="hidden" asp-for="wheyproteinpref" id="wheyproteinpref" />
        <a class="btn btn-outline-primary gender-btn txt wheyproteinpref" data-pref="onescoop" onclick="selectWheyproteinpref(this)">Yes, I take 1 Scoop</a>
        <a class="btn btn-outline-primary gender-btn txt wheyproteinpref" data-pref="twoscoop" onclick="selectWheyproteinpref(this)">Yes, I take 2 Scoop</a>
        <a class="btn btn-outline-primary gender-btn txt wheyproteinpref" data-pref="noscoop" onclick="selectWheyproteinpref(this)">No, I don’t take</a>
        <div class="d-flex justify-content-center fixed-bottom mt-5 mb-5">
            <div class="d-flex">
                <button type="button" onclick="loadNextStep('Steps/_SelectMealIntake')" class="btn btn-secondary btn-lg mx-2">Previous</button>
                <button type="button" onclick="loadNextStep('Steps/_SelectBarrier')" class="btn btn-primary btn-lg mx-2">Continue</button>
            </div>
        </div>
    </div>
</div>

