@model CeylonWellness.Web.Models.MultiStepFormViewModel

<label for="gender">Gender:</label>
<select asp-for="Gender" id="gender">
    <option value="M">Male</option>
    <option value="F">Female</option>
    <option value="O">Other</option>
</select>
