@model CeylonWellness.Web.Models.MultiStepFormViewModel



<div class="container-sm container-width">
    <div class="d-flex flex-column align-items-center">
        <h2 class="text-primary mt-3 mb-5">What is your Age</h2>
        <input asp-for="Age" type="number" id="Age" class="form-control mt-4 big-input" required />

        <button class="cl btn btn-primary mt-5 set-bottom" type="button" onclick="ageVerification('Steps/_heightWeight')">Continue</button>

    </div>
</div>