@model CeylonWellness.Web.Models.MultiStepFormViewModel

<div class="container container-width">
    <div class="d-flex flex-column align-items-center">
        <h2 class="text-primary mt-3 mb-5">Enter Body Measurements</h2>
        <div id="measurements">
            <label for="neck" class="form-label text-primary">Neck (Cm)</label>
            <input asp-for="Neck" type="number" id="neck" class="form-control big-input mb-4" required />

            <label for="waist" class="form-label text-primary">Waist (Cm)</label>
            <input asp-for="Waist" type="number" id="waist" class="form-control big-input mb-4" required />

            <<label for="hip" class="form-label text-primary" id="hip-label" style="display:none;">Hip (Cm)</label>
            <input asp-for="Hip" type="number" id="hip" class="form-control big-input mb-4" style="display:none;" required />

        </div>
        
        <p class="notice mt-5"><strong>Note: </strong>Capturing your weight and height allows us to calculate your Body Mass Index (BMI). BMI is an important indicator used to assess whether you are underweight, normal weight, overweight, or obese, which helps in understanding your overall health status.</p>
        <button class="cl btn btn-primary mt-5 set-bottom" type="button" onclick="NWHVerification('Steps/_SelectGoal')">Continue</button>
    </div>
</div>