@model CeylonWellness.Web.Models.MultiStepFormViewModel

<div id="form-container">
    <!-- Step content will be loaded here -->
    <form id="multistepform" method="post">
        @await Html.PartialAsync("Steps/_SelectAge");
    </form>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="~/js/multistepform.js"></script>
