@model CeylonWellness.Web.Models.MultiStepFormViewModel
@{
    Layout = "~/Views/Shared/_MultiFormLayout.cshtml";
}

<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<form id="multistepform" method="post">
    <div class="mt-5" id="form-container">
        @await Html.PartialAsync("Steps/_SelectAge")
    </div>
    @* <input type="hidden" asp-for="Age" name="Age" id="Age" />
    <input type="hidden" asp-for="Gender" name="Gender" id="Gender" />
    <input type="hidden" asp-for="Weight" name="Weight" id="Weight" />
    <input type="hidden" asp-for="Height" name="Height" id="Height" />
    <input type="hidden" asp-for="TargetWeight" name="TargetWeight" id="TargetWeight" />
    <input type="hidden" asp-for="ActivityLevel" name="ActivityLevel" id="ActivityLevel" /> *@
    <input type="hidden" name="goal" id="goals" />
    <input type="hidden" id="weightss" />
    <input type="hidden" id="Diatprefs" />
    <input type="hidden" id="mealintakeprefs" />
    <input type="hidden" id="wheyproteinprefs" />
    <input type="hidden" id="macroprefs" />
    <input type="hidden" asp-for="mealdistributionpref" id="mealdistributionprefs" />
    <input type="hidden" asp-for="BMI" id="bmi" />


    @* For TDEE and BMR *@
    <input type="hidden" id="WeightBMR" />
    <input type="hidden" id="HeightBMR" />
    <input type="hidden" id="AgeBMR" />
    <input type="hidden" id="ActlevelBMR" />
    <input type="hidden" id="GenderBMR" />

    <input type="hidden" id="TWeightBMR" />
    <input type="hidden" id="WeekgoalBMR" />

    <input asp-for="TargetWeight" type="hidden" id="TWeightBMR" />
    <input type="hidden" id="WeekgoalBMR" />
    <input type="hidden" asp-for="MaintaincalAmount" id="maintcalamount" />



    <input type="hidden" id="activelevel" />

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="~/js/multistepform.js"></script>
