.message {
    display: flex;
    margin-bottom: 10px;
}

.user-message {
    align-self: flex-end;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
}

.bot-message {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: black;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

//Age partial view

.container-width {
    max-width: 65%;
}

.mxwidth {
    max-width: 250px;
    text-align: center;
    font-size: 28px;
}

.cl {
    background: #435EBF;
}

@media screen and (max-width:480px){
    .mxwidth{
        max-width:100%;
    }

    .container-width{
        max-width: 100%;
    }

    h3{
        font-size: 24px;
    }

    .cl {
        font-size: 14px !important;
        padding-right: 35px;
        padding-left: 35px;
    }

    wth {
        max-width: 100%;
    }
}


