.message {
    display: flex;
    margin-bottom: 10px;
}

.user-message {
    align-self: flex-end;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
}

.bot-message {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: black;
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


.container-width {
    max-width: 65%;
}

.mxwidth {
    max-width: 250px;
    text-align: center;
    font-size: 28px;
}

.cl {
    background: #435EBF;
    text-transform:capitalize;
}

@media screen and (max-width:480px){
    .mxwidth{
        max-width:100%;
    }

    .container-width{
        max-width: 100%;
    }

    h3{
        font-size: 24px;
    }

    .cl {
        font-size: 14px !important;
        padding-right: 35px;
        padding-left: 35px;
    }

    wth {
        max-width: 100%;
    }
}

/*Select age form step*/

.age-group-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px; /* Set the maximum width for the cards */
    margin-bottom: 20px;
    background: #EAECFB;
    padding-top: 20px;
}

.age-group-card img {
    width: 100%;
    height: auto;
    display: block;
}

.age-group-card .age-group-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
}

.age-group-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*Select age form step end */

/*Select gender start*/

.gender-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px; /* Adjust the width as needed */
    margin: 10px auto; /* Center align the buttons */
    font-size: 18px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 10px;
}

.gender-btn i {
    font-size: 24px; /* Adjust the size of the icon */
}

.gender-btn span {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px; /* Add padding to align the text */
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .gender-btn {
        width: 100%; /* Full width for mobile devices */
        margin: 10px 0; /* Margin on top and bottom */
    }
}


/*Select gender end*/

/*set age start*/

.big-input{
    max-width: 200px;
    font-size: 30px;
    text-align: center;
}

.set-bottom {
    position: fixed;
    bottom: 40px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it stays above other content */
}
/*set age end*/

/*weight and height start*/

.notice {
    background: #DEF3F0;
    padding: 10px;
    border: 1px solid #6DCDBF;
    border-radius: 8px;
    color: #19318A;
    max-width: 600px;
    font-size: 14px;
}

.notice-warning {
    background: #f2f3de;
    padding: 10px;
    border: 1px solid #FFCC00;
    border-radius: 8px;
    color: #19318A;
    max-width: 600px;
    font-size: 14px;
}

/*weight and height end*/

/*goal start*/

.goal-title{
    font-size: 15px;
}

.goal-subtitle{
    font-size: 12px;
    padding-left: 0px !important;
    font-weight: 200;
}

.circle {
    background: #DEF3F0;
    width: 30px;
    height: 30px;
    border: 1px solid #6DCDBF;
    border-radius: 50%;
}

.bton-image{
    width: 80px;
    position: relative;
    top: 5px;
}

.selected{
    padding-top: 5px;
    padding-bottom:5px;
}

.btn-selected {
    background: #435ebf;
    color: white;
}

.btn-selected:hover {
    background: #435ebf; /* Keep the background color same */
    color: white; /* Keep the text color same */
}

/*goal end*/

/*barriers start*/

.txt {
    text-transform: none;
}

/*barriers end*/

/* meat pref Start */

.padd {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

/* meat pref End */

.padd-bn {
    padding-top: 15px;
    padding-bottom: 15px;
}

.act-title {
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px

}

.act-subtitle {
    font-size: 12px;
    padding-left: 0px !important;
    font-weight: 200;
    text-transform: none !important;
}

.recomend-text {
    color: red;
    font-size: 12px;
    position: absolute; /* Changed from absolute */
    top: 5px; /* Adjust for slight spacing from top */
    right: 15px;
    text-transform: none !important;
}

.hide{
    display: none;
}

#bmiBar {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 25px;
    overflow: visible;
}

#bmiMarker {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    transform: translateY(20%);
}

#bmiMarker span {
    background: white;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 12px;
}

.BMI-container {
    background: #435ebf;
    padding: 10px;
    border-radius: 10px;
    width:100%;
    max-width: 500px;
}

.daily-calorie{
    font-size:42px;
    font-weight:700;
    margin-top: 10px;
    line-height: 32px;
}
